* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(0, 238, 255);
    height: 100px;
    width: 200wv;

}

h1 {
    padding-top: 30px;
    padding-left: 20px;
}

h2{
    font-size: 20px;
    margin-left: 17px;
    margin-top: 10px;
}

.areaone {
    border: solid 1px;
    height: 250px;
    width: 200wv;
    margin: 15px;
    margin-top: 0px;
    padding: 10px;
}

.rectangle {
    background-color: lightcoral;
    height: 70px;
    width: 150px;
    border: solid lightgreen 5px;
    margin-top: 150px;
    margin-left: 20px;
}

.square {
    background: lightgrey;
    height: 70px; 
    width: 70px;
    border: solid 1px;
    margin-top: -75px;
    margin-left: 200px;
    box-shadow: 4px 4px 8px #000000;
}

.bigsquare {
    background: rgb(255, 0, 247);
    height: 150px; 
    width: 150px;
    border: solid 1px;
    margin-top: -150px;
    margin-left: 300px;
}

h3 {
    font-size: 20px;
    margin-left: 17px;
    margin-top: 10px;
}

.areatwo {
    border: solid 1px;
    height: 450px;
    width: 200wh;
    margin: 15px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom:10px;
}

.snow1 {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border: solid 1px cyan;
}

.snow2 {
    background: lightblue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    border: solid 1px cyan;
}

.snow3 {
    background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border: solid 1px cyan;
}

h4 {
    font-size: 20px;
    margin-left: 17px;
    margin-top: 10px;
}

.areathree {
    border: solid 1px;
    height: 300px;
    width: 200wh;
    margin: 15px;
    margin-top: 0px;
    
}

.hugesquare {
    background: rgb(255, 204, 0);
    height: 260px; 
    width: 260px;
    border: solid 1px;
    margin-top: 20px;
    margin-left: 20px;
}

.greencircle {
    background: rgb(0, 255, 136);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid 1px rgb(0, 255, 94);
}

.tinysquare {
    background: rgb(171, 76, 255);
    height: 130px; 
    width: 130px;
    border: solid 1px light pink;
    margin-left: 35px;
    margin-top: 35px;
}

.bluecircle {
    background: rgb(255, 97, 210);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

p {
    float: right;
    margin-top: 110px;
    padding-right: 35px;
}